<div class="view bckim"
    style=" height: 105vh;  background-image: url(https://img.freepik.com/free-vector/watercolor-halloween-background_52683-43698.jpg?w=1060&t=st=1671312826~exp=1671313426~hmac=fb4940c6b657b6cb724b33d861fdd88e31b95631ad4c6c469f5aebff4c98f036);   background-repeat: no-repeat;    background-size: cover;   background-position: center center;">

  <app-emp-nav></app-emp-nav>


  <div class="container">
    <div class="row g-3 mt-4 pb-2 bg-dark">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center ">

        <div class="card text-center ">

          <div class="card-body">
            <h5 class="card-title ">{{profile[0].name}}</h5>
            <p class="list-group-item">Employee Code: {{profile[0].empCode}}</p>
            <p class="list-group-item">Employee Designation: {{profile[0].designation}}</p>

            <p class="card-text">Address: {{profile[0].address}}</p>
          </div>
          <ul class="list-group list-group-flush ">

            <li class="list-group-item">Email: {{profile[0].email}}</li>
            <p class="list-group-item">Username: {{profile[0].username}}</p>


          </ul>

        </div>
      </div>
    </div>
  </div>
</div>