

<div class="view bckim"
style=" height: 105vh;  background-image: url(https://img.freepik.com/free-vector/watercolor-halloween-background_52683-43698.jpg?w=1060&t=st=1671312826~exp=1671313426~hmac=fb4940c6b657b6cb724b33d861fdd88e31b95631ad4c6c469f5aebff4c98f036);   background-repeat: no-repeat;    background-size: cover;   background-position: center center;">
<app-emp-nav></app-emp-nav>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="row g-3 mt-4">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <table class="table table-dark table-striped">
                            <thead>
                            <tr scope="row" class="font-monospace">
                                <th scope="col">Leave Type</th>
                                <th scope="col">Reason</th>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Days</th>
                                <th scope="col">Status</th>
                            </tr></thead>
                            <tbody>
                            <tr *ngFor="let i of leave" scope="row">
                                <td scope="col">{{i.typeOfleave}}</td>
                                <td scope="col">{{i.reason}}</td>
                                <td scope="col">{{i.from}}</td>
                                <td scope="col">{{i.to}}</td>
                                <td scope="col">{{i.days}}</td>
                                <td scope="col" *ngIf="i.status==-1"><button class="btn btn-dark " >Pending</button></td>
                                <td scope="col" *ngIf="i.status==1"><button class="btn btn-dark" >Approved</button></td>
                                <td scope="col" *ngIf="i.status==0"><button class="btn btn-dark" >Rejected</button></td>
    
                            </tr></tbody>
                        </table>
                    </div>
    
                </div>
            </div>
        </div>
      </div></div>