<div class="view bckim"
    style=" height: 105vh;  background-image: url(https://img.freepik.com/free-vector/realistic-3d-podium-background_23-2149166921.jpg?w=1060&t=st=1671313325~exp=1671313925~hmac=c7e408e777fa71c4b95ab4fa2a3bb3cf3ee2d973a032405b6847a89788c81c32);   background-repeat: no-repeat;    background-size: cover;   background-position: center center;">

    <app-nav-bar-admin-main></app-nav-bar-admin-main>


    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 div-md-12 col-lg-12 div-xl-12 div-xxl-12">
                <div class="row g-3 mt-4">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <h1 class="text-dark">Add Employee</h1>
                    </div>

                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">Name</label>
                        <input name="name" [(ngModel)]="name" type="text" placeholder="Enter employee name"
                            class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">Employee Code</label>
                        <input name="empCode" [(ngModel)]="empCode" type="text" placeholder="Enter employee code"
                            class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">Address</label>
                        <input name="address" [(ngModel)]="address" type="text" placeholder="address"
                            class="form-control">
                    </div>

                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">Designation</label>
                        <input name="designation" [(ngModel)]="designation" type="text" placeholder="Enter Designation"
                            class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">Email Id</label>
                        <input name="email" [(ngModel)]="email" type="text" placeholder="Enter emai id"
                            class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">Salary</label>
                        <input name="salary" [(ngModel)]="salary" type="text" placeholder="Enter Salary"
                            class="form-control">
                    </div>

                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">Username</label>
                        <input name="username" [(ngModel)]="username" type="text" placeholder="Enter username"
                            class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">password</label>
                        <input name="password" [(ngModel)]="password" type="text" placeholder="Enter password"
                            class="form-control">
                    </div>


                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <a (click)="readValues()" class="btn btn-dark font-monospace py-1 mt-4">Add employee</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>




<app-footer></app-footer>