<div class="view bckim"
    style=" height: 105vh;  background-image: url(https://img.freepik.com/free-vector/watercolor-halloween-background_52683-43698.jpg?w=1060&t=st=1671312826~exp=1671313426~hmac=fb4940c6b657b6cb724b33d861fdd88e31b95631ad4c6c469f5aebff4c98f036);   background-repeat: no-repeat;    background-size: cover;   background-position: center center;">
  <app-nav-bar-admin-main></app-nav-bar-admin-main>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="row g-3 mt-4">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr scope="row" class="font-monospace">
                                    <th scope="col">Employee Code</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Designation</th>
                                    <th scope="col">Leave Type</th>
                                    <th scope="col">Reason</th>
                                    <th scope="col">From</th>
                                    <th scope="col">To</th>
                                    <th scope="col">Days</th>
                                    <th scope="col">Remark</th>
                                    <th scope="col">Actions</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let i of data" scope="row">
                                    <td scope="col" *ngIf="i.status==-1">{{i.emp_code}}</td>
                                    <td scope="col" *ngIf="i.status==-1">{{i.name}}</td>
                                    <td scope="col" *ngIf="i.status==-1">{{i.designation}}</td>
                                    <td scope="col" *ngIf="i.status==-1">{{i.type_ofleave}}</td>
                                    <td scope="col" *ngIf="i.status==-1">{{i.reason}}</td>
                                    <td scope="col" *ngIf="i.status==-1">{{i.from}}</td>
                                    <td scope="col" *ngIf="i.status==-1">{{i.to}}</td>
                                    <td scope="col" *ngIf="i.status==-1">{{i.days}}</td>
                                    <td scope="col" *ngIf="i.status==-1">
                                        <input name="remarks" [(ngModel)]="remarks" type="text" class="form-control">
                                    </td>
                                    <td scope="col" *ngIf="i.status==-1"><button (click)="approve(i.id,i.empid,i.type_ofleave,i.days)" class="btn btn-secondary font-monospace py-1">approve</button></td>
                                            
                                    <td scope="col" *ngIf="i.status==-1"><button (click)="reject(i.id)" class="btn btn-secondary font-monospace py-1">reject</button></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>