

<app-security-nav></app-security-nav>

<div class="container">
    <div class="row g-3 mt-4 pb-2 bg-dark">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center ">
  
        <div class="card text-center ">
  
          <div class="card-body">
            <h5 class="card-title ">{{profile[0].name}}</h5>
            <p class="list-group-item">Employee Code: {{profile[0].empCode}}</p>
  
            <p class="card-text">Phone: {{profile[0].phone}}</p>
          </div>
          <ul class="list-group list-group-flush ">
            <p class="list-group-item">Username: {{profile[0].username}}</p>

  
          </ul>
  
        </div>
      </div>
    </div>
  </div>
  